{% extends "admin/base.html" %}
{% load admin_static %}

{% block extrajs %}
 <script type="text/javascript" src="{% static 'js/argument_selection.js' %}"></script>
 <script type="text/javascript">
 $(document).ready(function() {
    $('#show_all_button').on('click', function() {
        $("li[data-fieldType='hidden']").each(function(){
            var input = $(this);
            input.toggle()
        });
    });
});

 $("form#arguments_form :input").each(function(){
     var input = $(this); // This is the jquery object of the input, do what you will
     if(input.val()) {
         var id_to_hide = input.attr('id');
         var object_to_hide = ($("li#"+id_to_hide))
         if(typeof id_to_hide !== 'undefined') {
             object_to_hide.hide()
         }
     }
});


 </script>
{% endblock %}

{% block content %}
    <h1>Choose Plugins for Execution</h1>
    <h2>You have chosen the following plugins for execution:</h2>
    <ul>
        {% for plugin in plugins %}
            <li>{{ plugin }}</li>
        {% endfor %}
    </ul>
    <h2>You have chosen the following projects on which the plugins will be executed:</h2>
    <ul>
        {% for project in projects %}
            <li>{{ project }}</li>
        {% endfor %}
    </ul>
    <h2>You can use the following variables in the fields:</h2>
    <ul>
        {% for name, description in substitutions.items %}
            <li>{{ name }} - {{ description }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-primary" id="show_all_button">Show all fields</button>
    <form action="" method="post" id="arguments_form">
        {% csrf_token %}
        {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
        {% for fieldset in form.fieldsets %}
          <fieldset class="fieldset_{{ fieldset.name }}">
          {% if fieldset.legend %}
            <legend>{{ fieldset.legend }}</legend>
          {% endif %}
          {% if fieldset.description %}
            <p class="description">{{ fieldset.description }}</p>
          {% endif %}
          <ul>
          {% for field in fieldset %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              <li{{ field.row_attrs }} style="list-style-type: none; padding: 5px 0px;" id="{{ field.auto_id }}" data-fieldType="hidden">
                {{ field.label_tag }}
                {{ field }}
                <p class="help-block text-muted">
                    {{ field.help_text }}
                </p>
                {{ field.errors }}

              </li>
            {% endif %}
          {% endfor %}
          </ul>
          </fieldset>
        {% endfor %}

        <div>
            <p>
            <input type="submit" value="cancel" name="cancel" />
            <input type="submit" value="execute" name="execute" />
            </p>
        </div>
    </form>
{% endblock %}