{% extends "admin/base_site.html" %}
{% load plugin_exec_extras %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="/admin/">Home</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="/admin/smartshark/">SmartSHARK</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
          <a href="{% url 'plugin_status' plugin_execution.project.pk %}">
            Project ({{plugin_execution.project.name}})</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="/admin/smartshark/project/plugin_execution/{{plugin_execution.pk}}">Plugin Execution ({{plugin_execution.pk}})</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        Jobs
      </li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Plugin Status for Project {{ plugin_execution.project.name }} and Plugin {{ plugin_execution.plugin.name }}</h1>
    <div id="{{ project.name }}_container">
            <form action="" method="get">
                <div class="row-fluid">
                    <div class="span3">
                            {{ filter.form.status.errors }}
                            {{ filter.form.status.label_tag }}
                            {{ filter.form.status }}
                    </div>
                    <div class="span3">
                            {{ filter.form.revision_hash.errors }}
                            {{ filter.form.revision_hash.label_tag }}
                            {{ filter.form.revision_hash }}
                    </div>
                </div>
                <input class="btn btn-info" type="submit" />
            </form>
            <div class="row-fluid">
                <div class="span6">
                    <strong>DONE</strong>: {{ done_jobs }}, <strong>EXIT</strong>: {{ exit_jobs }}, <strong>WAITING</strong>: {{ waiting_jobs }}
                </div>

                <div class="span6" align="right">
                    <span class="current">
                        Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}. Overall: {{ overall }}
                    </span>
                </div>
            </div>
        <table id="execution_list" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <th scope="col">
                    <div class="text">
                        ID
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        Status
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        Revision
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        Actions
                    </div>
                </th>
            </thead>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.status }}</td>
                    <td>{{ job.revision_hash }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'job_output' id=job.id type='output'%}">Show Output</a>
                        <a class="btn btn-info" href="{% url 'job_output' id=job.id type='error'%}">Show Errors</a>
                        <a class="btn btn-info" href="{% url 'job_output' id=job.id type='arguments'%}">Show Arguments</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if jobs.has_previous %}
                <a href="?page={{ jobs.previous_page_number }}" class="btn btn-info">previous</a>
            {% endif %}

            {% if jobs.has_next %}
                <a href="?page={{ jobs.next_page_number }}" class="btn btn-info">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}