{% extends "admin/base_site.html" %}
{% load plugin_exec_extras %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="/admin/">Home</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="/admin/smartshark/">SmartSHARK</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
          <a href="{% url 'plugin_status' project.pk %}">
            Project ({{project.name}})</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        Plugin executions
      </li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Plugin Status for chosen Projects</h1>
        <h3>{{ project.name }}</h3>
        <span class="current">
                Page {{ executions.number }} of {{ executions.paginator.num_pages }}.
         </span>
        <div id="{{ project.name }}_container">
            <table id="execution_list" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <th scope="col">
                    <div class="text">
                        Plugin
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        Submitted At
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        #Jobs
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        Actions
                    </div>
                </th>
            </thead>
        {% for execution in executions %}
            <tr>
                <td>{{ execution.plugin }}</td>
                <td>{{ execution.submitted_at }}</td>
                <td>{{ execution.job_set.count }}</td>
                <td><a class="btn btn-info" href="{% url 'plugin_execution_status' id=execution.id %}">Show Jobs</a></td>
            </tr>
        {% endfor %}
            </table>
        </div>
    <div class="pagination">
        <span class="step-links">
            {% if executions.has_previous %}
                <a href="?page={{ executions.previous_page_number }}" class="btn btn-info">previous</a>
            {% endif %}

            {% if executions.has_next %}
                <a href="?page={{ executions.next_page_number }}" class="btn btn-info">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}