{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Result of the JobVerification on {{ project.name }}</h1>


<table style="width:100%" class="table table-striped">
  <tr>
    <th>Commit</th>
    <th>vcsSHARK</th>
    <th>mecoSHARK</th>
    <th>coastSHARK</th>
      <th>Details</th>
  </tr>

     {% for result in results %}
  <tr>
    <td>{{ result.commmit }}</td>
    <td>{% if result.vcsSHARK %} <button type="button" class="btn btn-success">&#x2713;</button> {% else %} <button type="button" class="btn btn-danger">&#x274C;</button> {% endif %} </td>
    <td>{% if result.mecoSHARK %} <button type="button" class="btn btn-success">&#x2713;</button> {% else %} <button type="button" class="btn btn-danger">&#x274C;</button> {% endif %} </td>
    <td>{% if result.coastSHARK %} <button type="button" class="btn btn-success">&#x2713;</button> {% else %} <button type="button" class="btn btn-danger">&#x274C;</button> {% endif %} </td>
      <td><a href="/smartshark/project/verify_details?project_id={{ project.id }}&vcs_system={{ result.vcs_system }}&commit={{ result.commmit }}">Show details</a></td>
  </tr>
     {% endfor %}
</table>

{% endblock %}